<a href="https://colab.research.google.com/github/kavya-kango/Movie-recommendation-model/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**IMPORT LIBRABRY*

In [1]:
import pandas as pd
import numpy as np

**IMPORT DATASET**

In [2]:
df = pd.read_csv(r'https://raw.githubusercontent.com/YBI-Foundation/Dataset/main/Movies%20Recommendation.csv')

In [3]:
df.head()

,Movie_ID,Movie_Title,Movie_Genre,Movie_Language,Movie_Budget,Movie_Popularity,Movie_Release_Date,Movie_Revenue,Movie_Runtime,Movie_Vote,...,Movie_Homepage,Movie_Keywords,Movie_Overview,Movie_Production_House,Movie_Production_Country,Movie_Spoken_Language,Movie_Tagline,Movie_Cast,Movie_Crew,Movie_Director
0,1,Four Rooms,Crime Comedy,en,4000000,22.876230,09-12-1995,4300000,98.0,6.5,...,NaN,hotel new year's eve witch bet hotel room,It's Ted the Bellhop's first night on the job....,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,"[{'name': 'Allison Anders', 'gender': 1, 'depa...",Allison Anders
1,2,Star Wars,Adventure Action Science Fiction,en,11000000,126.393695,25-05-1977,775398007,121.0,8.1,...,http://www.starwars.com/films/star-wars-episod...,android galaxy hermit death star lightsaber,Princess Leia is captured and held hostage by ...,"[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,"[{'name': 'George Lucas', 'gender': 2, 'depart...",George Lucas
2,3,Finding Nemo,Animation Family,en,94000000,85.688789,30-05-2003,940335536,100.0,7.6,...,http://movies.disney.com/finding-nemo,father son relationship harbor underwater fish...,"Nemo, an adventurous young clownfish, is unexp...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
3,4,Forrest Gump,Comedy Drama Romance,en,55000000,138.133331,06-07-1994,677945399,142.0,8.2,...,NaN,vietnam veteran hippie mentally disabled runni...,A man with a low IQ has accomplished great thi...,"[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,"[{'name': 'Alan Silvestri', 'gender': 2, 'depa...",Robert Zemeckis
4,5,American Beauty,Drama,en,15000000,80.878605,15-09-1999,356296601,122.0,7.9,...,http://www.dreamworks.com/ab/,male nudity female nudity adultery midlife cri...,"Lester Burnham, a depressed suburban father in...","[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4760 entries, 0 to 4759
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Movie_ID                  4760 non-null   int64
 1   Movie_Title               4760 non-null   object
 2   Movie_Genre               4760 non-null   object
 3   Movie_Language            4760 non-null   object
 4   Movie_Budget              4760 non-null   int64
 5   Movie_Popularity          4760 non-null   float64
 6   Movie_Release_Date        4760 non-null   object
 7   Movie_Revenue             4760 non-null   int64
 8   Movie_Runtime             4758 non-null   float64
 9   Movie_Vote                4760 non-null   float64
 10  Movie_Vote_Count          4760 non-null   int64
 11  Movie_Homepage            1699 non-null   object
 12  Movie_Keywords            4373 non-null   object
 13  Movie_Overview            4757 non-null   object
 14  Movie_Production_House    4760 non-null   object
 15  Movie_Production_Country  4760 non-null   object
 16  Movie_Spoken_Language     4760 non-null   object
 17  Movie_Tagline             3942 non-null   object
 18  Movie_Cast                4733 non-null   object
 19  Movie_Crew                4760 non-null   object
 20  Movie_Director            4738 non-null   object
dtypes: float64(3), int64(4), object(14)
memory usage: 781.1+ KB

In [5]:
df.shape

(4760, 21)

In [6]:
df.columns

Index(['Movie_ID', 'Movie_Title', 'Movie_Genre', 'Movie_Language',
       'Movie_Budget', 'Movie_Popularity', 'Movie_Release_Date',
       'Movie_Revenue', 'Movie_Runtime', 'Movie_Vote', 'Movie_Vote_Count',
       'Movie_Homepage', 'Movie_Keywords', 'Movie_Overview',
       'Movie_Production_House', 'Movie_Production_Country',
       'Movie_Spoken_Language', 'Movie_Tagline', 'Movie_Cast', 'Movie_Crew',
       'Movie_Director'],
      dtype='object')

**GET FEATURE SELECTION**

In [7]:
df_features = df[['Movie_Genre','Movie_Keywords','Movie_Tagline','Movie_Cast','Movie_Director']].fillna('')

In [8]:
df_features.shape

(4760, 5)

In [9]:
df_features

,Movie_Genre,Movie_Keywords,Movie_Tagline,Movie_Cast,Movie_Director
0,Crime Comedy,hotel new year's eve witch bet hotel room,Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,Allison Anders
1,Adventure Action Science Fiction,android galaxy hermit death star lightsaber,"A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,George Lucas
2,Animation Family,father son relationship harbor underwater fish...,"There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,Andrew Stanton
3,Comedy Drama Romance,vietnam veteran hippie mentally disabled runni...,"The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,Robert Zemeckis
4,Drama,male nudity female nudity adultery midlife cri...,Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,Sam Mendes
...,...,...,...,...,...
4755,Horror,,The hot spot where Satan's waitin'.,Lisa Hart Carroll Michael Des Barres Paul Drak...,Pece Dingo
4756,Comedy Family Drama,,It’s better to stand out than to fit in.,Roni Akurati Brighton Sharbino Jason Lee Anjul...,Frank Lotito
4757,Thriller Drama,christian film sex trafficking,She never knew it could happen to her...,Nicole Smolen Kim Baldwin Ariana Stephens Brys...,Jaco Booyens
4758,Family,,,,
4759,Documentary,music actors legendary perfomer classic hollyw...,,Tony Oppedisano,Simon Napier-Bell

In [10]:
x= df_features['Movie_Genre']=''+ df_features['Movie_Keywords']+''+df_features['Movie_Tagline']+''+df_features['Movie_Cast']+''+df_features['Movie_Director']

In [11]:
x

0       hotel new year's eve witch bet hotel roomTwelv...
1       android galaxy hermit death star lightsaberA l...
2       father son relationship harbor underwater fish...
3       vietnam veteran hippie mentally disabled runni...
4       male nudity female nudity adultery midlife cri...
                              ...
4755    The hot spot where Satan's waitin'.Lisa Hart C...
4756    It’s better to stand out than to fit in.Roni A...
4757    christian film sex traffickingShe never knew i...
4758
4759    music actors legendary perfomer classic hollyw...
Length: 4760, dtype: object

In [12]:
x.shape

(4760,)

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [14]:
tfidf= TfidfVectorizer()

In [15]:
X= tfidf.fit_transform(x)

In [16]:
X.shape

(4760, 24774)

In [17]:
x

0       hotel new year's eve witch bet hotel roomTwelv...
1       android galaxy hermit death star lightsaberA l...
2       father son relationship harbor underwater fish...
3       vietnam veteran hippie mentally disabled runni...
4       male nudity female nudity adultery midlife cri...
                              ...
4755    The hot spot where Satan's waitin'.Lisa Hart C...
4756    It’s better to stand out than to fit in.Roni A...
4757    christian film sex traffickingShe never knew i...
4758
4759    music actors legendary perfomer classic hollyw...
Length: 4760, dtype: object

In [18]:
print(X)

  (0, 10637)	0.2504588624684244
  (0, 15802)	0.17590160938874036
  (0, 24503)	0.2609128171679251
  (0, 7311)	0.3025083182838377
  (0, 24208)	0.1271762530839157
  (0, 2229)	0.1581936699519488
  (0, 18852)	0.19633627783879612
  (0, 16429)	0.1872642649702785
  (0, 9502)	0.1872642649702785
  (0, 8313)	0.1498101525367464
  (0, 19363)	0.19633627783879612
  (0, 18359)	0.19633627783879612
  (0, 847)	0.07617181404398117
  (0, 16275)	0.08601132471076976
  (0, 13406)	0.15445594560650802
  (0, 2100)	0.19633627783879612
  (0, 11024)	0.15307808939247386
  (0, 10384)	0.20223953199754224
  (0, 8053)	0.11776777768326348
  (0, 5518)	0.12023674227388569
  (0, 16271)	0.07311270600155703
  (0, 21903)	0.10720847408758864
  (0, 11631)	0.13728912044778685
  (0, 23976)	0.11141472459554105
  (0, 8219)	0.08751464396767429
  :	:
  (4757, 4144)	0.1769509313903453
  (4757, 7910)	0.14403750856933836
  (4757, 15866)	0.19317947090612508
  (4757, 19771)	0.15482650223888297
  (4757, 9771)	0.22178088746010485
  (4757, 4924)	0.20279550535296154
  (4757, 1645)	0.19861181366907404
  (4757, 20960)	0.2626866922792176
  (4757, 22313)	0.29331454185609973
  (4757, 20397)	0.29331454185609973
  (4757, 1131)	0.29331454185609973
  (4757, 3118)	0.29331454185609973
  (4757, 8545)	0.29331454185609973
  (4757, 2687)	0.29331454185609973
  (4759, 15492)	0.21231248314963422
  (4759, 2093)	0.22264512006274445
  (4759, 8363)	0.22617012774190734
  (4759, 15626)	0.3202881449797158
  (4759, 4282)	0.2928185756451675
  (4759, 10491)	0.28815080903637463
  (4759, 12975)	0.3316890463425936
  (4759, 259)	0.3316890463425936
  (4759, 16930)	0.3477577143142641
  (4759, 20193)	0.3477577143142641
  (4759, 16308)	0.3477577143142641

get similarity score using cosine similarity

In [19]:
from sklearn.metrics.pairwise import cosine_similarity

In [23]:
Similarity_Score = cosine_similarity(X)

In [24]:
Similarity_Score

array([[1.        , 0.01454089, 0.03904349, ..., 0.        , 0.        ,
        0.        ],
       [0.01454089, 1.        , 0.00872888, ..., 0.        , 0.        ,
        0.        ],
       [0.03904349, 0.00872888, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [25]:
Similarity_Score.shape

(4760, 4760)

GET MOVIE NAME AS INPUT FROM USER AND VALIDATE FOR CLOSEST SPELLING

In [32]:
Favourite_Movie_Name = input(' enter your favourite movie name :')

KeyboardInterrupt: Interrupted by user

In [29]:
All_Movies_Title_List = df['Movie_Title'].tolist()

In [30]:
import difflib

In [34]:
Movie_Recommendation = difflib.get_close_matches(Favourite_Movie_Name, All_Movies_Title_List)
print(Movie_Recommendation)

NameError: name 'Favourite_Movie_Name' is not defined

In [ ]:
Close_Match = Movie_Recommendation[0]
print(Close_Match)

In [ ]:
Index_of_Close_Match_Movie = df[df.Movie_Title == Close_Match]['Movie_ID'].values[0]
print(Index_of_Close_Match_Movie)

In [ ]:
#getting a list of similar movies
Recommendation_Score = list(enumerate(Similarity_Score[Index_of_Close_Match_Movies]))
print(Recommendation_Score)

In [ ]:
len(Recommendation_Score)

GET ALL MOVIES SORT BASED ON RECOMMENDATION SCORE WRT FAVOURITE MOVIE

In [ ]:
# sorting the movies based on their similarity score
Sorted_Similar_Movies = sorted(Recommendation_Score, key = lambda x:x[1],reverse = True)
print(Sorted_Similar_Movies)

In [ ]:
#print the similar movies based on the index
print('top 30 movies suggested for you : \n')
i=1
for movie in Sorted_Similar_Movies:
  index= movie[0]
  title_from_index = df[df.index==index]['Movie_Title'].values[0]
  if(i<31):
    print(i,'.',title_from_index)
    i+=1